<!-- <p>inicio works!</p> -->

<app-presentacion ></app-presentacion>
<div class="container mt-5 pt-5">
    <div class="row">
        <h2 class="text-center ">Nuestras expresiones</h2>
    </div>
    <div class="row">
        <div class="uk-child-width-1-2@m" uk-grid>

            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="../../../assets/images/fondos/light.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Mexizcal Coco</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        <button class="uk-button uk-button-primary">Ver más</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="../../../assets/images/fondos/light.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Mexizcal Café</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        <button class="uk-button uk-button-primary">Ver Más</button>
                    </div>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                        <img src="../../../assets/images/fondos/light.jpg" alt="">
                    </div>
                    <div class="uk-card-body">
                        <h3 class="uk-card-title">Mexizcal Cacao</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
                        <button class="uk-button uk-button-primary"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>